#one {
    font-family: 'Libre Caslon Text';
}
#two{
    font-family: 'Lacquer';
}
#three{
    font-family: 'Beth Ellen';
}
#four {
    font-family: 'Noto Sans';
}
#five {
    font-family: 'Indie Flower';
}